*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*YouTube-How-To-Create-a-Simple-Website-using-HTML-and-CSS*/
.nav p {
  margin-top: 0;
  color: #ffffff;
  font-size: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}

nav .menu {
  max-width: 1984px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.menu ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.menu ul li::after {
  content: '';
  width: 60%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
}

.menu ul li {
  list-style: none;
  margin-left: 7px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 15px;
  margin: 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.img-nav {
  background: url(https://i.postimg.cc/T3VV3gSX/Untitled-design.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.img-nav::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.center {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  text-align: center;
}

.center .title {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}

.center .sub_title{
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

.Essayer {
  color: white;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.intro-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.intro-buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-decoration: none;

}

.buttons-intro {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 10px;
  text-decoration: none;
  height: 25px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}

.buttons-intro:last-child {
  margin-right: 0;
}
.buttons-intro:hover {
  background-color: white;
  color: black;
}

/*<!--ChatGPT-Mathematiciens-->*/
.container h1 {
  color: #000;
}

.container {
  background-color: #000;
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.container .tagline {
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 0 0 15px;
}

.container .title-card {
  text-align: center;
  font-size: 35px;
  color: #fff;
  padding: 15px 0 8px;
}

.container .name h2 {
  color: #cfcfcf;
}

.container .card p {
  color: #fff;
  font-size: 20px;
}


.container .card {
  background: #000;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 50px 30px 50px;
  padding: 20px 20px 20px 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all 1.5s ease-in-out;
}

.container .card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
}

.container .details {
  display: none; /* Hide details by default */
  margin-top: 10px;
  color: #cfcfcf;
  padding-left: 15px;
  transition: all 1s ease-in-out;
}

.container .card:hover .details {
  display: block; /* Show details on hover */
}


.container .details ul li {
  margin-left: 60px;
  color: #fff;
  font-size: 20px;
}

.container .bold {
  font-weight: bold;
}

.container .name {
  padding-left: 8px;
  width: 254px;
}

.container .img-maths {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  padding-left: 8px;
}

/*<!--Fonctions-->*/
.fonctions {
  background-color: #fff;
  display: flex;
  align-items: center;
}

.fonctions h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
}

.fonctions h3 {
  margin-left: 15px;
}

.fonctions ul li {
  margin-left: 15px;
}

.fonctions .definition, .fonctions .methode, .fonctions .remarque {
  background-color: #000;
  color: #fff;
  max-width: 900px;
  margin: 10px;
  padding: 10px 10px 10px 10px;
  border-radius: 8px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*YouTube-How-To-Create-a-Simple-Website-using-HTML-and-CSS*/

body {
  background-color: #000;
}

.nav p {
  margin-top: 0;
  color: #ffffff;
  font-size: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}

nav .menu {
  max-width: 1984px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.menu ul {
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.menu ul li::after {
  content: '';
  width: 60%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
}

.menu ul li {
  list-style: none;
  margin-left: 7px;
}

.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 15px;
  margin: 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.img-nav {
  background: url(https://i.postimg.cc/T3VV3gSX/Untitled-design.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.img-nav::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.center {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  text-align: center;
}

.center .title {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}

.center .sub_title{
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

.Essayer {
  color: white;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.intro-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.intro-buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-decoration: none;

}

.buttons-intro {
  padding: 10px 20px;
  background-color: #000;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px 10px;
  text-decoration: none;
  height: 25px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
}

.buttons-intro:last-child {
  margin-right: 0;
}
.buttons-intro:hover {
  background-color: white;
  color: black;
}

/*ChatGPT-Mathematiciens*/
.container h1 {
  color: #000;
}

.container {
  background-color: #000;
  width: 100%;
  margin: 30px 0 0 20;
  height: auto;
  margin: 20px auto;
}

.container .tagline {
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 0 0 15px;
}

.container .title-card {
  text-align: center;
  font-size: 35px;
  color: #fff;
  padding: 15px 0 8px;
}

.container .name h2 {
  color: #cfcfcf;
}

.container .card p {
  color: #fff;
  font-size: 20px;
}


.container .card {
  background: #000;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 0 50px 30px 50px;
  padding: 20px 20px 20px 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: all 1.5s ease-in-out;
}

.container .card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.247);
}

.container .details {
  display: none; /* Hide details by default */
  margin-top: 10px;
  color: #cfcfcf;
  padding-left: 15px;
  transition: all 1s ease-in-out;
}

.container .card:hover .details {
  display: block; /* Show details on hover */
}


.container .details ul li {
  margin-left: 60px;
  color: #fff;
  font-size: 20px;
}

.container .bold {
  font-weight: bold;
}

.container .name {
  padding-left: 8px;
  width: 254px;
}

.container .img-maths {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  padding-left: 8px;
}

/*Fonctions*/
.fonctions {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.fonctions h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
}

.fonctions h3 {
  margin-left: 25px;
}

.fonctions .plan {
  font-size: 20px;
  margin-top: 10px;
}

.fonctions ul li {
  margin-left: 15px;
  text-align: left;
}

.fonctions .definition, .fonctions .methode, .fonctions .remarque {
  background-color: #000;
  color: #fff;
  max-width: 1000px;
  margin: 10px;
  padding: 20px 20px 20px 20px;
  border-radius: 8px;
  font-size: 20px;
}

.fonctions .dd1 {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 8px;
}

.fonctions .F {
  content: "\03C0";
}

.fonctions .mm1 {
  text-align: center;
  text-decoration: underline;
}

.fonctions .exemple {
  padding: 10px 0 10px 10px;
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: 'Courier New', Courier, monospace;
  max-width: 900px;
  text-align: left;
  font-size: 20px;
}

.fonctions .ee1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-decoration: underline;
}


.fonctions .lecture {
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 900px;
  font-size: 20px;
}

.fonctions .rr1 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  text-decoration: underline;
}

.fonctions .image {
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

.fonctions .lecture {
  padding-left: 20px;
}

/*contacts */

.contacts {
  color: #ffffff;
  text-align: left;
  font-family: Arial, sans-serif;
  margin: 0 0 15px;
  padding: 5px;
  margin-left: 20px;
}

.contacts a {
  text-decoration: none;
  color: #0073e6;
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin-left: 20px;
}
.contacts a:hover {
  text-decoration: underline;
}

.contacts ul li {
  margin-left: 15px;
}
